<ion-view view-title="tab3">

		<ion-nav-title>
			<h1 class="title">修改tab3</h1>
		</ion-nav-title>
		
		<ion-nav-buttons side="right">

			<!-- button-clear 如果清除默认背景色 不好用，用下面这个
			     button-icon 清除默认背景色-->
			<button class="button button-icon icon ion-ionic"></button>
		</ion-nav-buttons>

				<ion-tabs class="tabs-top">

		
		<ion-tab title="mytab1">
			<ion-view>
				<ion-content has-subheader="false" class="assertive-bg">
					<div>kerwin-top-tab1</div>
					<ion-list>
						<ion-item >1111</ion-item>
						<ion-item >2222</ion-item>
						<ion-item >3333</ion-item>
					</ion-list>
				</ion-content>
				
			</ion-view>
		</ion-tab>
		<ion-tab title="mytab2" >
			<ion-view>
				<ion-content has-subheader="false" class="calm-bg" >
				<div>kerwin-top-tab2</div>
				
				</ion-content>
				
			</ion-view>
		</ion-tab>
		<ion-tab title="mytab3">
			<ion-view>
				<ion-content has-subheader="false" class="positive-bg">
					<div>kerwin-top-tab3</div>
				</ion-content>
				
			</ion-view>
		</ion-tab>
	</ion-tabs>
			</ion-view>